.container {
  max-width: 1280px;
  margin: 0 auto;
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .header-index {
  background: #000000;
  height: 50px;
  position: relative;
  border: 1px solid #000000;
  display: flex;
  justify-content: space-between;
}
header .header-index .logo .logo-cyber img {
  width: 116px;
  height: 32px;
  margin-left: 24px;
  margin-top: 10px;
}
header .header-index .service {
  display: flex;
  margin-top: 10px;
}
header .header-index .service .buy {
  display: flex;
}
header .header-index .service .buy .logo-buy img {
  width: 31px;
  height: 31px;
  top: 3px;
}
header .header-index .service .test .txt {
  font-style: normal;
  line-height: 36px;
  font-size: 30px;
  font-weight: 300;
  color: #FFFFFF;
}
header .header-index .service .login {
  width: 91px;
  height: 32px;
}
header .header-index .service .login .login-user {
  font-size: 16px;
  font-weight: 300;
  color: #F7F7F7;
  line-height: 19px;
  border: 1px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
header .header-index .service .register {
  width: 90px;
  height: 32px;
}
header .header-index .service .register .register-user {
  font-size: 16px;
  font-weight: 300;
  color: #F7F7F7;
  line-height: 19px;
  border: 1px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu {
  position: relative;
  height: 50px;
  list-style: none;
}
.menu .txt-1 {
  position: absolute;
  width: 56px;
  height: 24px;
  top: 16px;
  left: 25px;
}
.menu .txt-1 a {
  text-decoration: none;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  line-height: 24px;
}
.menu .txt-2 {
  position: absolute;
  width: 41px;
  height: 24px;
  top: 16px;
  left: 105px;
}
.menu .txt-2 a {
  text-decoration: none;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  line-height: 24px;
}
.menu .txt-3 {
  position: absolute;
  width: 70px;
  height: 24px;
  top: 16px;
  left: 183px;
}
.menu .txt-3 a {
  text-decoration: none;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  line-height: 24px;
}
.menu .txt-4 {
  position: absolute;
  width: 31px;
  height: 24px;
  top: 16px;
  left: 292px;
}
.menu .txt-4 a {
  text-decoration: none;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  line-height: 24px;
}
.menu .txt-5 {
  position: absolute;
  width: 52px;
  height: 24px;
  top: 16px;
  left: 363px;
}
.menu .txt-5 a {
  text-decoration: none;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  line-height: 24px;
}

.carousel-1 .carousel {
  background: #FFFFFF;
}
.carousel-1 .carousel .carousel-indicators {
  margin-bottom: 100px;
}
.carousel-1 .carousel .carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.13);
  margin-left: 30px;
}
.carousel-1 .carousel .carousel-indicators li.active {
  background-color: #f93737;
}
.carousel-1 .carousel .carousel-inner .carousel-item {
  background-image: url(../assets/img/image\ 6.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 530px;
  display: flex;
  flex-wrap: wrap;
}
.carousel-1 .carousel .carousel-inner .carousel-item .carousel-thumb {
  width: 50%;
  flex: 0 0 50%;
}
@media (max-width: 720px) {
  .carousel-1 .carousel .carousel-inner .carousel-item .carousel-thumb {
    width: 100%;
  }
}
.carousel-1 .carousel .carousel-inner .carousel-item .carousel-thumb img {
  margin-left: 122px;
  width: 821px;
  height: 392px;
}
@media (max-width: 1200px) {
  .carousel-1 .carousel .carousel-inner .carousel-item .carousel-thumb img {
    margin-left: 80px;
    width: 700px;
    height: 391px;
  }
}
@media (max-width: 992px) {
  .carousel-1 .carousel .carousel-inner .carousel-item .carousel-thumb img {
    margin-left: 60px;
    width: 600px;
    height: 391px;
  }
}
@media (max-width: 720px) {
  .carousel-1 .carousel .carousel-inner .carousel-item .carousel-thumb img {
    margin-left: 60px;
    width: 600px;
    height: 391px;
  }
}
.carousel-1 .carousel .carousel-inner .carousel-item .carousel-content {
  margin-top: 124px;
  flex: 0 0 50%;
  width: 50%;
}
@media (max-width: 720px) {
  .carousel-1 .carousel .carousel-inner .carousel-item .carousel-content {
    width: 100%;
    flex: 0 0 100%;
    position: absolute;
    top: 20px;
    left: 350px;
  }
}
.carousel-1 .carousel .carousel-inner .carousel-item .carousel-content .content-carou {
  padding-left: 330px;
}
@media (max-width: 1200px) {
  .carousel-1 .carousel .carousel-inner .carousel-item .carousel-content .content-carou {
    padding-left: 250px;
  }
}
@media (max-width: 1020px) {
  .carousel-1 .carousel .carousel-inner .carousel-item .carousel-content .content-carou {
    padding-left: 100px;
  }
}
.carousel-1 .carousel .carousel-inner .carousel-item .carousel-content .content-carou .text-carousel {
  font-size: 40px;
  font-weight: 300;
  color: #000000;
}
@media (max-width: 720px) {
  .carousel-1 .carousel .carousel-inner .carousel-item .carousel-content .content-carou .text-carousel {
    font-size: 24px;
    font-weight: 300;
    color: #000000;
  }
}
.carousel-1 .carousel .carousel-inner .carousel-item .carousel-content .content-carou .text-carousel-2 {
  font-size: 20px;
  font-weight: 300;
  color: #000000;
}
@media (max-width: 720px) {
  .carousel-1 .carousel .carousel-inner .carousel-item .carousel-content .content-carou .text-carousel-2 {
    font-size: 16px;
    font-weight: 300;
    color: #000000;
  }
}
.carousel-1 .carousel .carousel-inner .carousel-item .carousel-content .content-carou .btn-buy {
  font-size: 20px;
  font-weight: 300;
  color: #FFFFFF;
  background: #F8B653;
  padding: 13px 35px 13px 34px;
  border: 1px solid #F8B653;
  border-radius: none;
  cursor: pointer;
}
.carousel-1 .carousel .carousel-inner .carousel-item .carousel-content .content-carou .btn-buy:hover {
  background-color: #FFFFFF;
  color: #F8B653;
}
@media (max-width: 720px) {
  .carousel-1 .carousel .carousel-inner .carousel-item .carousel-content .content-carou .btn-buy {
    font-size: 16px;
    font-weight: 300;
    color: #FFFFFF;
    background: #F8B653;
    padding: 5px 35px 5px 34px;
    border: 1px solid #F8B653;
    border-radius: none;
    cursor: pointer;
  }
  .carousel-1 .carousel .carousel-inner .carousel-item .carousel-content .content-carou .btn-buy:hover {
    background-color: #FFFFFF;
    color: #F8B653;
  }
}
.carousel-1 .carousel-control-prev {
  margin-left: -50px;
}
@media (max-width: 1470px) {
  .carousel-1 .carousel-control-prev {
    display: none;
  }
}
@media (max-width: 1470px) {
  .carousel-1 .carousel-control-next {
    display: none;
  }
}

.feature {
  position: relative;
  padding-top: 50px;
  background: #FFFCFC;
  padding-bottom: 80px;
}
.feature .pdt-2 h3 {
  font-style: normal;
  font-size: 40px;
  font-weight: 400;
  color: #000000;
  line-height: 48px;
  text-align: center;
}
.feature #feature-content {
  padding-top: 90px;
}
@media (max-width: 1200px) {
  .feature #feature-content .row {
    padding-left: 100px;
  }
}
@media (max-width: 992px) {
  .feature #feature-content .row {
    padding-left: 70px;
  }
}
@media (max-width: 768px) {
  .feature #feature-content .row {
    padding-left: 0px;
  }
}
.feature #feature-content .row .col-lg-4 {
  max-width: 30%;
  flex: 0 0 30%;
  width: 334px;
  height: 500px;
  background-color: #F8F8F8;
  margin-right: 38px;
  margin-bottom: 50px;
}
.feature #feature-content .row .col-lg-4 .img-top {
  text-align: center;
}
.feature #feature-content .row .col-lg-4 .img-top img {
  width: 220px;
  height: 220px;
}
@media (max-width: 992px) {
  .feature #feature-content .row .col-lg-4 .img-top img {
    width: 150px;
    height: 150px;
  }
}
.feature #feature-content .row .col-lg-4 .bottom-1 {
  margin-left: 10px;
  margin-top: 20px;
  font-size: 24px;
  font-weight: 300;
  color: #000000;
  line-height: 29px;
}
@media (max-width: 992px) {
  .feature #feature-content .row .col-lg-4 .bottom-1 {
    font-size: 20px;
  }
}
.feature #feature-content .row .col-lg-4 .bottom-2 {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 300;
  color: #CBC9C9;
  line-height: 24px;
}
@media (max-width: 992px) {
  .feature #feature-content .row .col-lg-4 .bottom-2 {
    font-size: 16px;
  }
}
.feature #feature-content .row .col-lg-4 .btn-buy-2 {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.feature #feature-content .row .col-lg-4 .btn-buy-2 .btn-buy-shose {
  width: 50%;
  flex: 0 0 50%;
  font-size: 24px;
  font-weight: 200;
  color: #000000;
  background: #E1B067;
  padding: 17px 27px 18px 39px;
  border: 1px solid #E1B067;
  border-radius: none;
  cursor: pointer;
  text-decoration: none;
}
.feature #feature-content .row .col-lg-4 .btn-buy-2 .btn-buy-shose:hover {
  background-color: #FFFFFF;
  color: #E1B067;
}
@media (max-width: 1200px) {
  .feature #feature-content .row .col-lg-4 .btn-buy-2 .btn-buy-shose {
    font-size: 16px;
    font-weight: 200;
    color: #000000;
    background: #E1B067;
    padding: 10px 20px 10px 20px;
    border: 1px solid #E1B067;
    border-radius: none;
    cursor: pointer;
  }
  .feature #feature-content .row .col-lg-4 .btn-buy-2 .btn-buy-shose:hover {
    background-color: #FFFFFF;
    color: #E1B067;
  }
}
.feature #feature-content .row .col-lg-4 .btn-buy-2 span {
  text-align: center;
  width: 50%;
  flex: 0 0 50%;
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  line-height: 35px;
  background-color: #DEDDDC;
  padding: 17px 40px 18px 66px;
}
@media (max-width: 1200px) {
  .feature #feature-content .row .col-lg-4 .btn-buy-2 span {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    line-height: 20px;
    padding: 10px 20px 10px 20px;
  }
}
@media (max-width: 1200px) {
  .feature #feature-content .row .col-md-6 {
    max-width: 40%;
    flex: 0 0 40%;
    height: 490px;
  }
}
@media (max-width: 1200px) and (max-width: 992px) {
  .feature #feature-content .row .col-md-6 {
    height: 450px;
  }
}
@media (max-width: 768px) {
  .feature #feature-content .row .col-sm-12 {
    max-width: 100%;
    flex: 0 0 100%;
    height: 350px;
  }
}

footer .footer-top {
  background: #F8F8F8;
  padding: 30px 0;
}
footer .footer-top .container .row .get-footer {
  border-right: 2px solid rgba(222, 221, 220, 0.5);
}
footer .footer-top .container .row .get-footer h4 {
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  padding-bottom: 5px;
}
footer .footer-top .container .row .get-footer ul {
  list-style: none;
}
footer .footer-top .container .row .get-footer ul li a {
  font-size: 16px;
  font-weight: 300;
  color: #000000;
  cursor: pointer;
  text-decoration: none;
}
footer .footer-top .container .row .get-footer ul li a:hover {
  color: #F50E0E;
}
footer .footer-top .container .row .order-footer {
  border-right: 2px solid rgba(222, 221, 220, 0.5);
}
footer .footer-top .container .row .order-footer h4 {
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  padding-bottom: 5px;
}
footer .footer-top .container .row .order-footer ul {
  list-style: none;
}
footer .footer-top .container .row .order-footer ul li a {
  font-size: 16px;
  font-weight: 300;
  color: #000000;
  cursor: pointer;
  text-decoration: none;
}
footer .footer-top .container .row .order-footer ul li a:hover {
  color: #F50E0E;
}
footer .footer-top .container .row .register-footer h4 {
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  padding-bottom: 5px;
}
footer .footer-top .container .row .register-footer p {
  font-size: 16px;
  font-weight: 300;
  color: #000000;
}
footer .footer-top .container .row .register-footer a {
  font-size: 16px;
  font-weight: 300;
  color: #F50E0E;
  cursor: pointer;
  text-decoration: none;
}
footer .footer-top .container .row .register-footer a:hover {
  color: #0000FF;
}
@media (max-width: 768px) {
  footer .footer-top .container .row .col-4 {
    max-width: 100%;
    flex: 0 0 100%;
    text-align: center;
  }
  footer .footer-top .container .row .get-footer {
    border-right: none;
    border-bottom: 2px solid rgba(222, 221, 220, 0.5);
    margin-bottom: 10px;
  }
  footer .footer-top .container .row .order-footer {
    border-right: none;
    border-bottom: 2px solid rgba(222, 221, 220, 0.5);
    margin-bottom: 10px;
  }
}
footer .footer-bottom {
  background: #DEDDDC;
  padding: 30px 0;
}
footer .footer-bottom .container .row .sign-footer {
  border-right: 2px solid #bbc4cc;
}
footer .footer-bottom .container .row .sign-footer h4 {
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  padding-bottom: 5px;
}
footer .footer-bottom .container .row .sign-footer p {
  font-size: 16px;
  font-weight: 300;
  color: #000000;
}
footer .footer-bottom .container .row .sign-footer a {
  font-size: 16px;
  font-weight: 300;
  color: #F50E0E;
  cursor: pointer;
  text-decoration: none;
}
footer .footer-bottom .container .row .sign-footer a:hover {
  color: #0000FF;
}
footer .footer-bottom .container .row .gift-footer {
  border-right: 2px solid #bbc4cc;
}
footer .footer-bottom .container .row .gift-footer h4 {
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  padding-bottom: 5px;
}
footer .footer-bottom .container .row .gift-footer p {
  font-size: 16px;
  font-weight: 300;
  color: #000000;
}
footer .footer-bottom .container .row .gift-footer a {
  font-size: 16px;
  font-weight: 300;
  color: #F50E0E;
  cursor: pointer;
  text-decoration: none;
}
footer .footer-bottom .container .row .gift-footer a:hover {
  color: #0000FF;
}
footer .footer-bottom .container .row .store-footer h4 {
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  padding-bottom: 5px;
}
footer .footer-bottom .container .row .store-footer p {
  font-size: 16px;
  font-weight: 300;
  color: #000000;
}
footer .footer-bottom .container .row .store-footer a {
  font-size: 16px;
  font-weight: 300;
  color: #F50E0E;
  cursor: pointer;
  text-decoration: none;
}
footer .footer-bottom .container .row .store-footer a:hover {
  color: #0000FF;
}
@media (max-width: 768px) {
  footer .footer-bottom .container .row .col-4 {
    max-width: 100%;
    flex: 0 0 100%;
    text-align: center;
  }
  footer .footer-bottom .container .row .sign-footer {
    border-right: none;
    border-bottom: 2px solid #bbc4cc;
    margin-bottom: 20px;
  }
  footer .footer-bottom .container .row .gift-footer {
    border-right: none;
    border-bottom: 2px solid #bbc4cc;
    margin-bottom: 20px;
  }
}

.backToTop {
  width: 50px;
  height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  transition: all 0.2s;
  color: #000000;
  visibility: hidden;
  opacity: 0;
}
.backToTop:hover {
  color: #F50E0E;
}
.backToTop i {
  font-size: 40px;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

header .header-register {
  background: #000000;
  height: 50px;
  position: relative;
  border: 1px solid #000000;
  display: flex;
  justify-content: space-between;
}
header .header-register .logo .logo-cyber img {
  width: 116px;
  height: 32px;
  margin-left: 24px;
  margin-top: 10px;
}
header .header-register .service {
  display: flex;
  margin-top: 10px;
}
header .header-register .service .buy {
  display: flex;
}
header .header-register .service .buy .logo-buy img {
  width: 31px;
  height: 31px;
  top: 3px;
}
header .header-register .service .test .txt {
  font-style: normal;
  line-height: 36px;
  font-size: 30px;
  font-weight: 300;
  color: #FFFFFF;
}
header .header-register .service .login {
  width: 91px;
  height: 32px;
}
header .header-register .service .login .login-user {
  font-size: 16px;
  font-weight: 300;
  color: #F7F7F7;
  line-height: 19px;
  border: 1px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
header .header-register .service .register {
  width: 90px;
  height: 32px;
}
header .header-register .service .register .register-user {
  font-size: 16px;
  font-weight: 300;
  color: #F7F7F7;
  line-height: 19px;
  border: 1px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu-register {
  position: relative;
  height: 50px;
  list-style: none;
}
.menu-register .txt-1 {
  position: absolute;
  width: 56px;
  height: 24px;
  top: 16px;
  left: 25px;
}
.menu-register .txt-1 a {
  text-decoration: none;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  line-height: 24px;
}
.menu-register .txt-2 {
  position: absolute;
  width: 41px;
  height: 24px;
  top: 16px;
  left: 105px;
}
.menu-register .txt-2 a {
  text-decoration: none;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  line-height: 24px;
}
.menu-register .txt-3 {
  position: absolute;
  width: 70px;
  height: 24px;
  top: 16px;
  left: 183px;
}
.menu-register .txt-3 a {
  text-decoration: none;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  line-height: 24px;
}
.menu-register .txt-4 {
  position: absolute;
  width: 31px;
  height: 24px;
  top: 16px;
  left: 292px;
}
.menu-register .txt-4 a {
  text-decoration: none;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  line-height: 24px;
}
.menu-register .txt-5 {
  position: absolute;
  width: 52px;
  height: 24px;
  top: 16px;
  left: 363px;
}
.menu-register .txt-5 a {
  text-decoration: none;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  line-height: 24px;
}

.register-content {
  position: relative;
  background: #FFFCFC;
}
.register-content .top {
  text-align: center;
  padding-top: 30px;
}
.register-content .top h3 {
  font-size: 40px;
  font-weight: 400;
  color: #000000;
  font-style: normal;
  line-height: 48px;
}
.register-content .container .row .register-left .email {
  display: flex;
  border-bottom: 5px solid #AE18E2;
  margin-bottom: 10px;
}
.register-content .container .row .register-left .email #email {
  border: none;
  font-size: 30px;
  font-weight: 400;
  color: #000000;
  line-height: 36px;
  width: 90%;
}
.register-content .container .row .register-left .email .star-1 {
  font-size: 20px;
  font-weight: 400;
  color: #F50E0E;
  line-height: 24px;
  padding-top: 15px;
  width: 10%;
  text-align: center;
}
.register-content .container .row .register-left .password {
  display: flex;
  border-bottom: 5px solid #AE18E2;
  margin-bottom: 10px;
}
.register-content .container .row .register-left .password #password {
  border: none;
  font-size: 30px;
  font-weight: 400;
  color: #000000;
  line-height: 36px;
  width: 90%;
}
.register-content .container .row .register-left .password .star-2 {
  font-size: 20px;
  font-weight: 400;
  color: #F50E0E;
  line-height: 24px;
  padding-top: 15px;
  width: 10%;
  text-align: center;
}
.register-content .container .row .register-left .password-comfirm {
  display: flex;
  border-bottom: 5px solid #AE18E2;
  margin-bottom: 10px;
}
.register-content .container .row .register-left .password-comfirm #password-comfirm {
  border: none;
  font-size: 30px;
  font-weight: 400;
  color: #000000;
  line-height: 36px;
  width: 90%;
}
.register-content .container .row .register-left .password-comfirm .star-3 {
  font-size: 20px;
  font-weight: 400;
  color: #F50E0E;
  line-height: 24px;
  padding-top: 15px;
  width: 10%;
  text-align: center;
}
.register-content .container .row .register-right .name {
  display: flex;
  border-bottom: 5px solid #AE18E2;
  margin-bottom: 10px;
}
.register-content .container .row .register-right .name #name {
  border: none;
  font-size: 30px;
  font-weight: 400;
  color: #000000;
  line-height: 36px;
  width: 90%;
}
.register-content .container .row .register-right .name .star-4 {
  font-size: 20px;
  font-weight: 400;
  color: #F50E0E;
  line-height: 24px;
  padding-top: 15px;
  width: 10%;
  text-align: center;
}
.register-content .container .row .register-right .phone {
  display: flex;
  border-bottom: 5px solid #AE18E2;
  margin-bottom: 10px;
}
.register-content .container .row .register-right .phone #phone {
  border: none;
  font-size: 30px;
  font-weight: 400;
  color: #000000;
  line-height: 36px;
  width: 90%;
}
.register-content .container .row .register-right .phone .star-5 {
  font-size: 20px;
  font-weight: 400;
  color: #F50E0E;
  line-height: 24px;
  padding-top: 15px;
  width: 10%;
  text-align: center;
}
.register-content .container .row .register-right .gen {
  padding: 25px 0;
  display: flex;
}
.register-content .container .row .register-right .gen .gender-1 {
  font-size: 30px;
  font-weight: 400;
  color: #000000;
  line-height: 36px;
}
.register-content .container .row .register-right .gen .tickcheck .male {
  font-size: 30px;
  font-weight: 400;
  color: #000000;
  margin-left: 80px;
  position: relative;
}
.register-content .container .row .register-right .gen .tickcheck .male:hover input ~ .checkmark {
  background-color: #ccc;
}
.register-content .container .row .register-right .gen .tickcheck .male input:checked ~ .checkmark {
  background-color: #D9D9D9;
}
.register-content .container .row .register-right .gen .tickcheck .male input:checked ~ .checkmark::after {
  display: block;
}
.register-content .container .row .register-right .gen .tickcheck .male .checkmark::after {
  position: absolute;
  width: 39.25px;
  height: 30px;
  border-radius: 50%;
  top: 10px;
  left: 13px;
  background-color: #AE18E2;
}
.register-content .container .row .register-right .gen .tickcheck .male .checkmark {
  position: absolute;
  border-radius: 50%;
  background-color: #D9D9D9;
  height: 50px;
  width: 65.42px;
  right: 100px;
}
.register-content .container .row .register-right .gen .tickcheck .male .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}
.register-content .container .row .register-right .gen .tickcheck .male #male {
  opacity: 0;
}
.register-content .container .row .register-right .gen .tickcheck .female {
  font-size: 30px;
  font-weight: 400;
  color: #000000;
  margin-left: 80px;
  position: relative;
}
.register-content .container .row .register-right .gen .tickcheck .female:hover input ~ .checkmark {
  background-color: #ccc;
}
.register-content .container .row .register-right .gen .tickcheck .female input:checked ~ .checkmark {
  background-color: #D9D9D9;
}
.register-content .container .row .register-right .gen .tickcheck .female input:checked ~ .checkmark::after {
  display: block;
}
.register-content .container .row .register-right .gen .tickcheck .female .checkmark::after {
  position: absolute;
  width: 39.25px;
  height: 30px;
  border-radius: 50%;
  top: 10px;
  left: 13px;
  background-color: #AE18E2;
}
.register-content .container .row .register-right .gen .tickcheck .female .checkmark {
  position: absolute;
  border-radius: 50%;
  background-color: #D9D9D9;
  height: 50px;
  width: 65.42px;
  right: 140px;
}
@media (max-width: 1200px) {
  .register-content .container .row .register-right .gen .tickcheck .female .checkmark {
    right: 135px;
  }
}
.register-content .container .row .register-right .gen .tickcheck .female .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}
.register-content .container .row .register-right .gen .tickcheck .female #female {
  opacity: 0;
}
.register-content .container .row .register-right .btn-submit-all {
  padding-top: 50px;
}
.register-content .container .row .register-right .btn-submit-all .btn-submit-1 {
  font-size: 30px;
  font-weight: 400;
  color: #FFFCFC;
  background: #AE18E2;
  padding: 6px 98.94px 12px 87.3px;
  border: none;
  border-radius: none;
  cursor: pointer;
}
.register-content .container .row .register-right .btn-submit-all .btn-submit-1:hover {
  background-color: #AE18E2;
  color: #FFFCFC;
}

footer {
  padding-top: 30px;
}
footer .footer-top-1 {
  background: #F8F8F8;
  padding: 30px 0;
}
footer .footer-top-1 .container .row .get-footer {
  border-right: 2px solid rgba(222, 221, 220, 0.5);
}
footer .footer-top-1 .container .row .get-footer h4 {
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  padding-bottom: 5px;
}
footer .footer-top-1 .container .row .get-footer ul {
  list-style: none;
}
footer .footer-top-1 .container .row .get-footer ul li a {
  font-size: 16px;
  font-weight: 300;
  color: #000000;
  cursor: pointer;
  text-decoration: none;
}
footer .footer-top-1 .container .row .get-footer ul li a:hover {
  color: #F50E0E;
}
footer .footer-top-1 .container .row .order-footer {
  border-right: 2px solid rgba(222, 221, 220, 0.5);
}
footer .footer-top-1 .container .row .order-footer h4 {
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  padding-bottom: 5px;
}
footer .footer-top-1 .container .row .order-footer ul {
  list-style: none;
}
footer .footer-top-1 .container .row .order-footer ul li a {
  font-size: 16px;
  font-weight: 300;
  color: #000000;
  cursor: pointer;
  text-decoration: none;
}
footer .footer-top-1 .container .row .order-footer ul li a:hover {
  color: #F50E0E;
}
footer .footer-top-1 .container .row .register-footer h4 {
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  padding-bottom: 5px;
}
footer .footer-top-1 .container .row .register-footer p {
  font-size: 16px;
  font-weight: 300;
  color: #000000;
}
footer .footer-top-1 .container .row .register-footer a {
  font-size: 16px;
  font-weight: 300;
  color: #F50E0E;
  cursor: pointer;
  text-decoration: none;
}
footer .footer-top-1 .container .row .register-footer a:hover {
  color: #0000FF;
}
@media (max-width: 768px) {
  footer .footer-top-1 .container .row .col-4 {
    max-width: 100%;
    flex: 0 0 100%;
    text-align: center;
  }
  footer .footer-top-1 .container .row .get-footer {
    border-right: none;
    border-bottom: 2px solid rgba(222, 221, 220, 0.5);
    margin-bottom: 10px;
  }
  footer .footer-top-1 .container .row .order-footer {
    border-right: none;
    border-bottom: 2px solid rgba(222, 221, 220, 0.5);
    margin-bottom: 10px;
  }
}
footer .footer-bottom-1 {
  background: #DEDDDC;
  padding: 30px 0;
}
footer .footer-bottom-1 .container .row .sign-footer {
  border-right: 2px solid #bbc4cc;
}
footer .footer-bottom-1 .container .row .sign-footer h4 {
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  padding-bottom: 5px;
}
footer .footer-bottom-1 .container .row .sign-footer p {
  font-size: 16px;
  font-weight: 300;
  color: #000000;
}
footer .footer-bottom-1 .container .row .sign-footer a {
  font-size: 16px;
  font-weight: 300;
  color: #F50E0E;
  cursor: pointer;
  text-decoration: none;
}
footer .footer-bottom-1 .container .row .sign-footer a:hover {
  color: #0000FF;
}
footer .footer-bottom-1 .container .row .gift-footer {
  border-right: 2px solid #bbc4cc;
}
footer .footer-bottom-1 .container .row .gift-footer h4 {
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  padding-bottom: 5px;
}
footer .footer-bottom-1 .container .row .gift-footer p {
  font-size: 16px;
  font-weight: 300;
  color: #000000;
}
footer .footer-bottom-1 .container .row .gift-footer a {
  font-size: 16px;
  font-weight: 300;
  color: #F50E0E;
  cursor: pointer;
  text-decoration: none;
}
footer .footer-bottom-1 .container .row .gift-footer a:hover {
  color: #0000FF;
}
footer .footer-bottom-1 .container .row .store-footer h4 {
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  padding-bottom: 5px;
}
footer .footer-bottom-1 .container .row .store-footer p {
  font-size: 16px;
  font-weight: 300;
  color: #000000;
}
footer .footer-bottom-1 .container .row .store-footer a {
  font-size: 16px;
  font-weight: 300;
  color: #F50E0E;
  cursor: pointer;
  text-decoration: none;
}
footer .footer-bottom-1 .container .row .store-footer a:hover {
  color: #0000FF;
}
@media (max-width: 768px) {
  footer .footer-bottom-1 .container .row .col-4 {
    max-width: 100%;
    flex: 0 0 100%;
    text-align: center;
  }
  footer .footer-bottom-1 .container .row .sign-footer {
    border-right: none;
    border-bottom: 2px solid #bbc4cc;
    margin-bottom: 20px;
  }
  footer .footer-bottom-1 .container .row .gift-footer {
    border-right: none;
    border-bottom: 2px solid #bbc4cc;
    margin-bottom: 20px;
  }
}

header {
  background-color: #000000;
}
header .container {
  position: relative;
  width: auto;
  height: 50px;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
header .container .logo a img {
  position: absolute;
  width: 116px;
  height: 32px;
  top: 10px;
  right: auto;
  bottom: auto;
  left: 24px;
}
header .container .content .component1 {
  position: absolute;
  width: 66px;
  height: 36px;
  top: 6px;
  right: auto;
  bottom: auto;
  left: 1027px;
  cursor: pointer;
}
header .container .content .component1 img {
  position: absolute;
  width: 31px;
  height: 31px;
  top: 8.33%;
  right: 53.03%;
  bottom: 5.56%;
  left: 0;
}
header .container .content .component1 span {
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 46.97%;
  font-size: 30px;
  font-weight: 300;
  color: #FFFFFF;
}
header .container .content a {
  font-size: 16px;
  font-weight: 300;
  color: #FFFFFF;
  text-decoration: none;
  position: absolute;
  width: 91px;
  height: 32px;
  top: 15px;
  right: auto;
  bottom: auto;
  left: auto;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
header .container .content .login {
  left: 1103px;
}
header .container .content .register {
  left: 1170px;
}

@media (max-width: 1279px) {
  header .container {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .container .logo a img {
    position: static;
    width: auto;
    height: auto;
  }
  header .container .content {
    display: flex;
    align-items: center;
  }
  header .container .content .component1 {
    position: static;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
  }
  header .container .content .component1 img {
    position: static;
    width: auto;
    height: auto;
  }
  header .container .content .component1 span {
    position: static;
    width: auto;
    height: auto;
  }
  header .container .content a {
    position: static;
    width: auto;
    height: auto;
    margin-left: 20px;
  }
}
@media (max-width: 576px) {
  header .container .content .component1 {
    margin-left: 10px;
  }
  header .container .content .component1 img {
    width: 20px;
  }
  header .container .content .component1 span {
    position: static;
    width: auto;
    height: auto;
    font-size: 16px;
  }
  header .container .content a {
    margin-left: 10px;
    font-size: 16px;
  }
}
.menu .container {
  position: relative;
  width: auto;
  height: 50px;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.menu .container a {
  font-size: 20px;
  font-weight: 300;
  color: #000000;
  text-decoration: none;
  position: absolute;
  width: auto;
  height: 24px;
  top: 16px;
  right: auto;
  bottom: auto;
  left: auto;
}
.menu .container .home {
  width: 56px;
  left: 25px;
  font-weight: 400;
}
.menu .container .men {
  width: 41px;
  left: 105px;
  opacity: 0.7;
}
.menu .container .woman {
  width: 70px;
  left: 183px;
  opacity: 0.7;
}
.menu .container .kid {
  width: 31px;
  left: 292px;
}
.menu .container .sport {
  width: 52px;
  left: 363px;
}
.menu .container .active {
  position: absolute;
  width: 60px;
  height: 0;
  top: 50px;
  right: auto;
  bottom: auto;
  left: 24px;
  border: 1px solid #000000;
}

@media (max-width: 1279px) {
  .menu .container {
    padding: 0 15px;
    display: flex;
    align-items: center;
  }
  .menu .container a {
    position: static;
    width: auto;
    height: auto;
    margin-right: 30px;
  }
  .menu .container .active {
    left: 15px;
  }
}
@media (max-width: 576px) {
  .menu .container a {
    margin-right: 10px;
    font-size: 16px;
  }
  .menu .container .active {
    width: 40px;
  }
}
.detail .container {
  position: relative;
  width: auto;
  height: 530px;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.detail .container .row-1 .col-left .img {
  position: absolute;
  width: 334px;
  height: 355px;
  top: 58px;
  right: auto;
  bottom: auto;
  left: 65px;
  background-color: #F8F8F8;
}
.detail .container .row-1 .col-left .img img {
  position: absolute;
  width: 220px;
  height: 220px;
  top: 60px;
  right: auto;
  bottom: auto;
  left: 57px;
}
@media (max-width: 992px) {
  .detail .container .row-1 .col-left .img img {
    width: 200px;
    height: 250px;
    padding: 0px 20px 55px 0px;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  .detail .container .row-1 .col-left .img img {
    width: 150px;
    height: 200px;
    padding: 0px 20px 55px 0px;
  }
}
@media (max-width: 992px) {
  .detail .container .row-1 .col-left .img {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  .detail .container .row-1 .col-left .img {
    width: 250px;
    height: 250px;
  }
}
.detail .container .row-1 .col-right {
  position: absolute;
}
.detail .container .row-1 .col-right h1 {
  position: absolute;
  width: 503px;
  height: 36px;
  top: 67px;
  right: auto;
  bottom: auto;
  left: 527px;
  font-size: 30px;
  font-weight: 300;
  color: #000000;
}
@media (max-width: 992px) and (max-width: 768px) {
  .detail .container .row-1 .col-right h1 {
    font-size: 20px;
    width: 300px;
  }
}
.detail .container .row-1 .col-right p {
  position: absolute;
  width: 503px;
  height: 90px;
  top: 112px;
  right: auto;
  bottom: auto;
  left: 527px;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}
@media (max-width: 992px) and (max-width: 768px) {
  .detail .container .row-1 .col-right p {
    width: 300px;
    height: 50px;
    font-size: 16px;
    margin-top: -10px;
  }
}
.detail .container .row-1 .col-right h3 {
  position: absolute;
  width: 162px;
  height: 58px;
  top: 210px;
  right: auto;
  bottom: auto;
  left: 527px;
  font-size: 24px;
  font-weight: 400;
  color: #1ED90E;
}
@media (max-width: 992px) {
  .detail .container .row-1 .col-right h3 {
    width: 300px;
    height: 200px;
    margin-top: -40px;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  .detail .container .row-1 .col-right h3 {
    font-size: 20px;
    width: 300px;
    margin-top: -30px;
  }
}
.detail .container .row-1 .col-right .button-size button {
  font-size: 24px;
  font-weight: 600;
  color: #1E1D1D;
  background-color: #CBC9C9;
  position: relative;
  width: 50px;
  height: 50px;
  top: 250px;
  right: 0;
  bottom: 0;
  left: 500px;
  cursor: pointer;
  margin-left: 25px;
}
@media (max-width: 992px) {
  .detail .container .row-1 .col-right .button-size button {
    width: 40px;
    height: 40px;
    font-size: 20px;
    margin-bottom: 15px;
    position: relative;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  .detail .container .row-1 .col-right .button-size button {
    width: 30px;
    margin-bottom: 10px;
    height: 30px;
    font-size: 15px;
  }
}
.detail .container .row-1 .col-right .button-size .size1 {
  left: 526px;
}
.detail .container .row-1 .col-right .button-size .size2 {
  left: 597px;
}
.detail .container .row-1 .col-right .button-size .size3 {
  left: 668px;
}
.detail .container .row-1 .col-right .button-size .size4 {
  left: 739px;
}
.detail .container .row-1 .col-right .button-size .size5 {
  left: 810px;
}
.detail .container .row-1 .col-right .button-size .size6 {
  left: 881px;
}
.detail .container .row-1 .col-right .button-size .size7 {
  left: 952px;
}
@media (max-width: 992px) and (max-width: 768px) {
  .detail .container .row-1 .col-right .button-size {
    width: 300px;
    margin-bottom: 10px;
  }
}
.detail .container .row-1 .col-right h4 {
  position: absolute;
  width: 113px;
  height: 47px;
  top: 317px;
  right: auto;
  bottom: auto;
  left: 527px;
  font-size: 30px;
  font-weight: 600;
  color: #F50E0E;
}
@media (max-width: 992px) {
  .detail .container .row-1 .col-right h4 {
    font-size: 25px;
    padding-top: 30px;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  .detail .container .row-1 .col-right h4 {
    font-size: 20px;
    padding-top: 20px;
  }
}
.detail .container .row-1 .col-right .button-amount button {
  font-size: 30px;
  font-weight: 400;
  color: #FFFCFC;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 370px;
  right: auto;
  bottom: auto;
  left: auto;
  background: linear-gradient(180deg, #6181F3 0%, #7C97F5 99.48%);
  border: none;
  cursor: pointer;
}
@media (max-width: 992px) {
  .detail .container .row-1 .col-right .button-amount button {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  .detail .container .row-1 .col-right .button-amount button {
    width: 30px;
    margin-bottom: 10px;
    height: 30px;
    font-size: 15px;
  }
}
.detail .container .row-1 .col-right .button-amount .button-plus {
  left: 527px;
}
.detail .container .row-1 .col-right .button-amount .button-minus {
  left: 636px;
}
.detail .container .row-1 .col-right .button-amount span {
  font-size: 30px;
  font-weight: 400;
  color: #000000;
  position: absolute;
  width: 14px;
  height: 36px;
  top: 377px;
  right: auto;
  bottom: auto;
  left: 597px;
}
@media (max-width: 992px) {
  .detail .container .row-1 .col-right .button-amount span {
    font-size: 20px;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  .detail .container .row-1 .col-right .button-amount span {
    width: 30px;
    margin-bottom: 10px;
    height: 30px;
    font-size: 15px;
  }
}
.detail .container .row-1 .col-right .button-add button {
  font-size: 24px;
  font-weight: 400;
  color: #FFFCFC;
  position: absolute;
  width: 175px;
  height: 64px;
  top: 427px;
  right: auto;
  bottom: auto;
  left: 527px;
  background: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #D017EE 89.71%);
  border: none;
  cursor: pointer;
}
@media (max-width: 992px) {
  .detail .container .row-1 .col-right .button-add {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  .detail .container .row-1 .col-right .button-add {
    width: 300px;
    height: 300px;
    position: absolute;
    right: 640px;
    top: 250px;
  }
}
@media (max-width: 992px) {
  .detail .container .row-1 .col-right {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  .detail .container .row-1 .col-right {
    width: 300px;
    height: 300px;
    position: absolute;
    right: 640px;
    top: 250px;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  .detail .container .row-1 {
    width: 300px;
    height: 650px;
  }
}

.products {
  padding: 30px 0;
}
.products .container {
  padding: 0 15px;
}
.products .container .title {
  padding-bottom: 30px;
}
.products .container .title h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  color: #000000;
}
.products .container .content {
  width: 100%;
  height: 100%;
}
.products .container .content .row {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1200px) {
  .products .container .content .row {
    padding-left: 100px;
  }
}
@media (max-width: 1200px) and (max-width: 768px) {
  .products .container .content .row {
    padding-left: 0px;
  }
}
.products .container .content .row .col {
  max-width: 30%;
  width: 334px;
  height: 460px;
  background-color: #F8F8F8;
  margin-right: 40px;
  margin-bottom: 50px;
  position: relative;
}
@media (max-width: 1200px) {
  .products .container .content .row .col {
    max-width: 40%;
    flex: 0 0 40%;
    height: 450px;
  }
}
@media (max-width: 1200px) and (max-width: 992px) {
  .products .container .content .row .col {
    max-width: 40%;
    flex: 0 0 40%;
    height: 400px;
  }
}
@media (max-width: 1200px) and (max-width: 992px) and (max-width: 768px) {
  .products .container .content .row .col {
    padding-left: 0px;
    max-width: 100%;
    flex: 0 0 100%;
    height: 350px;
  }
}
.products .container .content .row .col .card-body .img-top {
  text-align: center;
}
@media (max-width: 992px) {
  .products .container .content .row .col .card-body .img-top {
    text-align: center;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  .products .container .content .row .col .card-body .img-top {
    text-align: center;
  }
}
.products .container .content .row .col .card-body .img-top img {
  width: 220px;
  height: 220px;
}
@media (max-width: 992px) {
  .products .container .content .row .col .card-body .img-top img {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 100px;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  .products .container .content .row .col .card-body .img-top img {
    padding-left: 0px;
    flex: 0 0 50%;
    height: 150px;
    left: 240px;
  }
}
.products .container .content .row .col .card-body .bottom-1 {
  margin-left: 10px;
  font-size: 24px;
  font-weight: 300;
  color: #000000;
  line-height: 29px;
}
@media (max-width: 992px) {
  .products .container .content .row .col .card-body .bottom-1 {
    font-size: 20px;
    width: 245px;
    height: 57px;
    padding-top: 150px;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  .products .container .content .row .col .card-body .bottom-1 {
    font-size: 16px;
    width: 350px;
    padding: 150px 0px 0px 110px;
  }
}
.products .container .content .row .col .card-body .bottom-2 {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 300;
  color: #CBC9C9;
  line-height: 24px;
}
@media (max-width: 992px) {
  .products .container .content .row .col .card-body .bottom-2 {
    font-size: 16px;
    width: 245px;
    height: 72px;
    padding-top: 50px;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  .products .container .content .row .col .card-body .bottom-2 {
    font-size: 14px;
    width: 400px;
    padding: 70px 0 0 50px;
  }
}
.products .container .content .row .col .btn-buy {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  text-align: center;
}
.products .container .content .row .col .btn-buy .btn-buy-shose {
  width: 50%;
  flex: 0 0 50%;
  font-size: 24px;
  font-weight: 200;
  color: #000000;
  background: #E1B067;
  padding: 17px 27px 18px 39px;
  border: 1px solid #E1B067;
  border-radius: none;
  cursor: pointer;
  text-decoration: none;
}
.products .container .content .row .col .btn-buy .btn-buy-shose:hover {
  background-color: #FFFFFF;
  color: #E1B067;
}
@media (max-width: 1200px) {
  .products .container .content .row .col .btn-buy .btn-buy-shose {
    font-size: 16px;
    font-weight: 200;
    color: #000000;
    background: #E1B067;
    padding: 10px 20px 10px 20px;
    border: 1px solid #E1B067;
    border-radius: none;
    cursor: pointer;
  }
  .products .container .content .row .col .btn-buy .btn-buy-shose:hover {
    background-color: #FFFFFF;
    color: #E1B067;
  }
}
.products .container .content .row .col .btn-buy .btn-buy-shose a {
  color: #000000;
}
.products .container .content .row .col .btn-buy span {
  text-align: center;
  width: 50%;
  flex: 0 0 50%;
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  line-height: 35px;
  background-color: #DEDDDC;
  padding: 17px 40px 18px 66px;
}
@media (max-width: 1200px) {
  .products .container .content .row .col .btn-buy span {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    line-height: 20px;
    padding: 10px 20px 10px 20px;
  }
}

@media (max-width: 972px) {
  .products .container .title h1 {
    font-size: 30px;
  }
  .products .container .row .col .card-body {
    width: 50%;
  }
  .products .container .row .col .card-body .img-top img {
    left: 50%;
    transform: translateX(-50%);
  }
  .products .container .row .col .card-body .bottom-1 {
    width: 50%;
  }
  .products .container .row .col .card-body .bottom-2 {
    width: 50%;
    display: inline-block;
    left: auto;
    right: 0;
  }
  .products .container .row .col .btn-buy .btn-buy-shose {
    font-size: 18px;
  }
  .products .container .row .col .btn-buy span {
    font-size: 18px;
  }
}